<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>flask-bootstrap example</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Posts</h1>
    <form action="{{url_for('artigo.view_listar')}}" method="get">
      Pesquisar: <input name="q" type="text" placeholder="digite aqui...">
      <input type="submit" value="Pesquisar">
    </form>
    <div class="container">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
            </tr>
          </thead>
          <tbody>
            {% for artigo in artigos %}
            <tr>
              <td>{{ loop.index + pagination.skip }}</td>
              <td>{{ artigo.titulo }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {{ pagination.links }}
    </div>
  </body>
</html>